*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    
}

nav{
    position: sticky;
}
.nav-link{
    margin-left: 20px;
    margin-right: 20px;
}
#navbarNavDropdown a:hover{
    color: royalblue;
}
#brand_maran{
    font-weight: bold;
    color:aliceblue;
    text-shadow: 0px 0px 5px royalblue,0px 0px 10px royalblue,0px 0px 15px royalblue;

}
.nav-link:hover{
    border-bottom: 1px solid royalblue;
}
.image-text {
    position: absolute;
    top: 53%;
    left: 67%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: royalblue;
    font-size: large;
  }
  .image-text p{
    text-align: left;
  }
  .image-text h2{
    font-size: 50px;
  }
  
  @media (max-width: 767px) {
    .image-text {
      position: static;
      transform: none;
      margin-top: 20px;
      z-index: 1;
    }
    
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .image-text h2 {
    animation: fade 3s ease-in-out infinite;
  }


.quote p{
  border: 1px solid royalblue;
  color: black;
  padding: 16px;
  text-align: center;
  border-radius: 10px;
}
